main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #383838;
}

.header {
  width: 1200px;
  position: relative;
  margin-bottom: 50px;
}

.hello {
  position:absolute;
  left: 250px;
  font-family: 'Abril Fatface', cursive;
}

.first {
  font-size: 40px;
  bottom: 110px;
}

.second {
  font-size: 70px;
  bottom: 55px;
}

.inmain {
 width: 700px; 
}

h2 {
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 70px;
}

h3 {
  font-weight: 700;
  margin-top: 40px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  font-size: 55px;
  left: 0px;
  width: 800px;
  color: white;
  background: #383838;
  margin-bottom: 70px;
  margin-left: -100px;
  padding-top: 14px;
  padding-left: 0px;
  padding-bottom: 45px;
  padding-left: 1em;
  padding-right: 35px;
  line-height: 80px;
  text-indent: -0.9em;
  
}

blockquote::before {
  content: '“';
  font-size:250%;
  vertical-align: 0px;
  letter-spacing: -20px;
}


.line_sep{
  display:flex;
  align-items: center;
}

.line {
  width: 700px;
  height: 3px;
  background: #383838;
  margin-top: 50px;
  margin-bottom: 50px;
}



body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  line-height: 30px;
}

ul {
  list-style-type: square;
}