* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;

}


#todo_main {
    display: flex;
    flex-direction: column;   
    width: 500px;
    height: 450px;
    box-sizing: border-box;
}

#todo_input {
    display: flex;
    height: fit-content;
    width: 450px;
    /* padding-bottom: 20px; */
    border: 2px solid lightslategray;
}

#input_button {
    font-size: 30px;
    width: 80px;
    height: 45px;
    border: none;
}

#input_input {
    width: 366px;
    height: 45px;
    font-size: 30px;
    border: none;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 450px;
    height: 70px;
}

.desc {
    width: 350px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.done, .delete {
    margin: auto;
    /* margin-bottom: auto;
    padding-left: 15px; */
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.done {
    background-image: url("./images/done.svg");
}

.delete {
    background-image: url("./images/trash.svg");
}